<div class="hero bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">This is a Canadian Dividend tracker that is free to use, created by myself (Sam). <br>Click below if you are interested</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>

<div class="flex flex-col w-full">
  <div class="divider divider-neutral">Changelog and Updates</div>
  <div class="hero bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <p class="py-6">Any changes or updates will be displayed here</p>
      </div>
    </div>
  </div>
</div>