<div class="hero bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">This is a canadian Dividend tracker that is free to use, created by myself (Sam). <br>Click below if you are interested</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>