<div class="hero bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Description:</h1>
      <p class="py-6">This is a Dividend tracker that is free to use. Currently uses the locally listed currency provided by the brokerage <br>ex: TSX = CAD NASDAQ = USD <br>If using multiple currencies create currency specific portfolios</p>
      <h2 class="text-4xl font-bold">Instructions:</h2>
      <ol class="text-left list-decimal">
        <li>Press 'Login' button.</li>
        <li>Enter "test@lal.com" as email address.</li>
        <li>Enter "asdasd" as password.</li>
        <li>You now have access to a test account in which you can explore the application feel free to add and remove stocks and see how it affects the stats page.</li>
      </ol>
    </div>
  </div>
</div>

<div class="flex flex-col w-full">
  <div class="divider divider-neutral">Features</div>
  <div class="hero bg-base-200 mb-[5rem]">
    <div class="hero-content text-left">
      <div class="max-w-md">
        <ol class="list-disc">
          <li>Sign up and Login</li>
          <li>Ability to search stocks & add stocks to individual portfolios</li>
          <li>Ability to create multiple portfolios</li>
          <li>Graphs of Stock Allocation, Industry allocation & Dividends per month</li>
          <li>Portfolio Value and Total yield is displayed</li>
        </ol>
      </div>
    </div>
  </div>
</div>